 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Open School & Charity ">
    <meta name="author" content="RAMZI" >

    <title>Open School & Charity</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="static/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="static/assets/css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="../static/assets/css/custom.css" rel="stylesheet">
	<link href="../static/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="../static/assets/css/owl.theme.css" rel="stylesheet">
	<link href="../static/assets/css/style.css" rel="stylesheet">
	<link href="../static/assets/css/animate.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="static/assets/css/magnific-popup.css">
	
	<script src="../static/assets/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="./static/assets/js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="./static/assets/js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="./static/assets/js/html5shiv.js"></script>
	<![endif]-->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Open School & charity</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s"> reservation & donation </h3>
			<ul class="list-inline intro-social-buttons">
				<li><a href="/signin/" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Sign in</span></a>
				</li>
				<li><a href="/signup/" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Sign up</span></a>
				</li>
			</ul>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="static/assets/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">Open School & Charity</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">What is?</a></li>
					<li class="menuItem"><a href="#searching">Searching</a></li>
					<li class="menuItem"><a href="#contact">Contact</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>What is?</h2>
			</div>
			
			<div class="row">
			
				<div class="col-sm-6 wow fadeInDown text-center">
				  <img class="rotate" src="static/assets/img/icon/clipboard.svg" alt="Generic placeholder image">
				  <h3>Institution Reservation</h3>
				  <p class="lead">The importance of exercise and activity is a significant feature in making us happy; when we are happy we’re more acceptable to learn – so why are a lot of learning activities within schools very sedentary? States of physical inactivity are clearly shown in scan images, which have been released by the University of Illinois, which show the stark contrast of the brain after a limited amount of exercise.
With so much curriculum to be delivered to pupils, priorities within schools means that the focus on physical education and exercise is being squeezed out of the timetable, but within the modern culture of technological use; transportation; and fears of obesity rate, the importance of promoting exercise within schools improves the physical and mental condition for all and is essential.</p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-6 -->
				
				<div class="col-sm-6 wow fadeInDown text-center">
				  <img  class="rotate" src="static/assets/img/icon/heart.svg" alt="Generic placeholder image">
				   <h3>Charity</h3>
				   <p class="lead">While governments play a role in providing support to people who need assistance, government funding sometimes lacks the precision needed to support all who need help. In addition, governments are typically slow to respond, and people who need help in the short term are often left without help. Local charities and local chapters of larger charities can often step in to be of aid.
Many governments are unable to support certain types of charities. Religious-based organizations, in particular, often cannot rely on government support. Charitable donations allow these groups to get the funding they need to succeed and grow, and many of these charities have a number of secular benefits.</p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-6 -->
				
			</div><!-- /.row -->
				
		</div>
	</div>
	
	<!-- Use it -->
	<!-- Searching -->
	<div id="searching" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Searching</h2>
			 </div>
			 
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
					<form role="form" action="" method="post" >
				<div class="col-md-6">

					
						<label for="text">Closest address</label>
						<div class="input-group">
							<input type="text" class="form-control" id="text" name="text" placeholder="please enter a street name" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                     </div>							
							
							
							<label for="text">Number of Visitors</label>
							<div class="input-group">
							<input type="text" class="form-control" id="text" name="text" placeholder="How many people will be there" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					<br>
					<br>
					<br>

					<input type="submit" name="submit" id="submit" value="Search" onclick="myfunction"		class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>
				  </div>
			  </div>
			  
		  </div>
		</div>
	</div>
	
	
	<!-- Contact -->
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Contact Us</h2>
			</div>
			
			<form role="form" action="" method="post" >
				<div class="col-md-6">
					<div class="form-group">
						<label for="InputName">Your Name</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputEmail">Your Email</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputMessage">Message</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>
			
			<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
					<h3>Location</h3>
					<p class="lead"><a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">We_are_Here_to_Win<br>
					ENSI, Tunihack2016</a><br>
					Phone: XXX-XXX-XXXX<br>
					Fax: XXX-XXX-YYYY</p>
					</address>

					<h3>Social</h3>
					<li class="social"> 
					<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a> 
					<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
					<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
					</li>
				</div>
			</div>
		</div>
	</div>
	
    <!-- JavaScript -->
    <script src="./static/assets/js/jquery-1.10.2.js"></script>
    <script src="./static/assets/js/bootstrap.js"></script>
	<script src="./static/assets/js/owl.carousel.js"></script>
	<script src="./static/assets/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="./static/assets/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  document.getElementById("submit").addEventListener("click",myfunction);
	  function myfunction() {
	  
	  	
	  }
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="./static/assets/js/jquery.corner.js"></script>
	<script src="../static/assets/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="../static/assets/js/classie.js"></script>
	<script src="../static/assets/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../static/assets/js/jquery.magnific-popup.js"></script>
</body>

</html>
